.body{
    height: fit-content;
    min-height: 100%;
    width: 100%;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.login-btn{
    background: rgb(63,251,236);
    background: linear-gradient(171deg, rgba(63,251,236,1) 0%, rgba(252,70,70,0.9473039215686274) 97%);
}