<div class="container">
    <div class="p-5">
        <h1>Bookings made by {{element.element.firstName}}!</h1>
        <h3 *ngIf="partyHallIds == null || partyHallIds.length == 0"> This user has no bookings!</h3>
        <!-- <h4>Booking Id: {{element.element.bookedPartyHallIds}}</h4> -->
        <mat-list *ngFor="let booked of partyHallIds">
            {{booked}} <button class="btn btn-primary" (click)="viewBooking()">View Booking</button>
        </mat-list>
        <button mat-button mat-dialog-close type="submit" class="btn btn-danger">Close</button>
    </div>
</div>