/* main{
    background-image: url("https://i.pinimg.com/originals/dd/03/81/dd0381f2d02fff4726a5a0e82c0ba6d2.png");
    background-repeat: no-repeat;
    background-image: height(500px);
    background-image: weight(500px);


} */